*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-size:1em;
  padding:100px;
  background: #f7f7f7;
}

a:link, 
a:visited{
  color: green;

}

.logo {
	
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  z-index: 5;

}

.page {
	color: green;
	font-size:40px;
	font-family: arial black;
	text-align: center;
	padding: 10PX;
	z-index: 6;
}

.page:hover{

	 cursor: pointer; 
	text-decoration: underline;
	font-family: arial black;
	 


}



#img1 {
	width: 20vw;
	position: absolute;
	height: 100vh;

}

.hover-on-1 {
  position:absolute;
  top:-200vw;
  left: 0;
  z-index: -2;
  display:none;
  width: 100%;
 
}

.active {
    display:block;
}